In [2]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [4]:
d = {'Quarters' : ['Quarter1','Quarter2','Quarter3','Quarter4'],
     'Revenue':[23400344.567,54363744.678,56789117.456,4132454.987]}
df=pd.DataFrame(d)
print(df)

   Quarters       Revenue
0  Quarter1  2.340034e+07
1  Quarter2  5.436374e+07
2  Quarter3  5.678912e+07
3  Quarter4  4.132455e+06

In [7]:
pd.options.display.float_format = '{:.1f}'.format
print(df)

   Quarters    Revenue
0  Quarter1 23400344.6
1  Quarter2 54363744.7
2  Quarter3 56789117.5
3  Quarter4  4132455.0

In [10]:
pd.options.display.float_format = '${:,.2f}'.format
print(df)

   Quarters        Revenue
0  Quarter1 $23,400,344.57
1  Quarter2 $54,363,744.68
2  Quarter3 $56,789,117.46
3  Quarter4  $4,132,454.99

In [11]:
# Format with Scientific notation
pd.options.display.float_format = '{:.2E}'.format
print(df)

   Quarters  Revenue
0  Quarter1 2.34E+07
1  Quarter2 5.44E+07
2  Quarter3 5.68E+07
3  Quarter4 4.13E+06

In [16]:

 
#Create a Dictionary of series
d = {'Name':pd.Series(['Raja','pradeep','Cathrine','Madonna','Rocky','Sebastian','Jaqluine',
   'Siva','David','Daniel','akshay','Suraj']),
   'Age':pd.Series([26,27,25,24,31,27,25,33,42,32,51,47]),
   'Score':pd.Series([89,87,67,55,47,72,76,79,44,92,99,69])}
 
#Create a DataFrame
df = pd.DataFrame(d)
print (df)

         Name  Age  Score
0        Raja   26     89
1     pradeep   27     87
2    Cathrine   25     67
3     Madonna   24     55
4       Rocky   31     47
5   Sebastian   27     72
6    Jaqluine   25     76
7        Siva   33     79
8       David   42     44
9      Daniel   32     92
10     akshay   51     99
11      Suraj   47     69

In [14]:
# summary statistics
 
print(df.describe())

           Age    Score
count 1.20E+01 1.20E+01
mean  3.25E+01 7.30E+01
std   9.21E+00 1.77E+01
min   2.40E+01 4.40E+01
25%   2.58E+01 6.40E+01
50%   2.90E+01 7.40E+01
75%   3.52E+01 8.75E+01
max   5.10E+01 9.90E+01